@media (min-width: 320px) {
  .contact__box {
    background-image: url('../../images/img/home/contact.jpg');
    background-image: -webkit-image-set(
      url('../../images/img/home/contact.jpg') 1x,
      url('../../images/img/home/contact@2x.jpg') 2x
    );
    background-image: image-set(
      url('../../images/img/home/contact.jpg') 1x,
      url('../../images/img/home/contact@2x.jpg') 2x
    );
    background-image: image-set(
      url('../../images/img/home/contact.webp') 1x,
      url('../../images/img/home/contact@2x.webp') 2x
    );
    background-position: center center;
    background-size: cover;
    height: 320px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .contact__info {
    padding: 40px 20px 40px 20px;
    background-color: var(--grey-light-color);
  }

  .contact__img {
    height: 220px;
  }

  .contact__title {
    font-weight: 300;
    font-size: 38px;
    line-height: 48px;
    padding-right: 40px;
    color: var(--grey-color);
  }

  .form__item {
    padding-top: 30px;
    position: relative;
  }

  .form__svg {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 7px;
    left: 7px;
  }

  .form__label {
    position: absolute;
    top: 5px;
    left: 8px;
    display: block;
    transition: top 0.5s;
    color: var(--grey-color);
  }

  .form__input {
    display: block;
    width: 100%;
    padding: 8px;
    height: 40px;
    margin: auto;
    border: 1px solid #ccc;
    color: var(--grey-color);
  }

  .form__input:focus {
    outline: none;
    transition-duration: 0.3s;
    box-shadow: none;
    padding-left: 5px;
  }

  .form__error {
    color: red;
    text-align: left;
    font-size: 12px;
    display: block;
    margin-top: 3px;
    position: relative;
    padding-left: 24px;
  }

  

  .form__btn {
    width: 100%;
    height: 42px;
    background-color: var(--green-color);
    border-radius: 5px;
    color: var(--white-color);
    border-color: var(--green-color);
    margin-top: 40px;
    transition: var(--transition);
  }

  .form__btn:hover {
    filter: opacity(90%);
    transition: var(--transition);
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .contact {
    display: flex;
  }
  .contact__box {
    height: 354px;
    min-width: 368px;
  }
  .contact__info {
    width: 1000px;
  }
}

@media (min-width: 1360px) {
  .contact__info {
    width: 690px;
    height: 454px;
  }
  .contact__box {
    height: 454px;
    width: 670px;
  }
  .contact {
    justify-content: space-between;
  }
  .contact__info {
    padding: 80px 20px 0px 20px;
  }
}
