header {
  
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
@media (max-width: 767px) {
  header {
      flex-direction: column;
      align-items: center;
        text-align: center;
        justify-content: center;
    height: 120px;
  }
    .logo {
      margin-bottom: 14px;
  
    }
    .nav__link{
      font-size: 16px;
        line-height: 26px;
    }
}

@media (min-width: 768px) {
  header {
    height: 70px;
      align-items: center;
      text-align: center;
      justify-content:space-between;
      padding-left: 30px;
      padding-right: 30px;
  }
    .nav__link {
      font-size: 18px;
        line-height: 28px;
    }
  
}
.nav__link {
  font-size: 18px;
  line-height: 28px;
}

.logo {
  display: flex;
  align-items: center;
  text-align: center;
  filter: opacity(90%);
    transition: var(--transition);
    
  
}

.logo:hover {
  filter: opacity(100%);
  transform: scale(1.1);
  transition: var(--transition);
}

.logo__img {
  width: 40px;
  height: 35px;
}
.logo__text {
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  margin-left: 5px;
}
.logo__span {
  color: var(--green-color);
}

.nav__list {
  display: flex;
}

.nav__item {
  position: relative;
}

.nav__item:not(:last-child) {
  margin-right: 12px;
  
}

.nav__item:not(:last-child) {
    margin-right: 12px;

}
.nav__link::before{
    content: "";
      position: absolute;
      height: 3px;
      bottom: -4px;
      left: 0;
      background-color: var(--green-color);
      visibility: hidden;
      width: 0;
      transition: all 0.3s ease-in-out 0s;
      z-index: 1000;
}
.nav__link:hover, .nav__item:hover>.nav__link::before, .nav__link:focus, .nav__link:hover::before, .nav__link:active {
    color: white;
      visibility: visible;
      width: 100%;
      transition: all 0.3s ease-in-out 0s;
}
