:root {
  --white-color: rgba(255, 255, 255, 1);
  --background-white-color: rgba(229, 229, 229, 1);
  --green-color: rgba(40, 167, 69, 1);
  --grey-color: rgba(233, 233, 233, 1);
  --grey-color: rgba(51, 51, 51, 1);
  --blue-color: rgba(2, 132, 208, 1);
  --grey-light-color: rgba(244, 244, 244, 1);
  --placeholder-color: rgba(128, 128, 128, 1);
  --bg-color: rgba(105, 105, 105, 0.8);
  --svg-color: #28a745;
  --transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
